$color : red;

@charset "UTF-8";
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");

html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, 
dfn, em, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td, article, aside, 
canvas, details, embed, figure, figcaption, 
footer, header, hgroup, menu, nav, output, 
ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html, body{
    height: 100%;
}

body {
    background-color: #fceff0;
    font-family: 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

ol,
ul {
    list-style: none;
}


.sidebar {
    position: relative;
    top: 0;
    z-index: 99;
    // visibility: hidden;
    display:none;
}

.panel1 {
    height: 100%;
    width: 100%;
    background-image: url('../image/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .content {
        position: relative;
        top: 20%;
        width: 60%;
        height: 30%;
        padding-top: 4%;
        margin-left: auto;
        margin-right: auto;
        background-color: purple;
        .img1 {
            position: absolute;
            top: 0;
            left: 0;
            filter: hue-rotate(180deg);
            width:100%;
            height:100%;
            z-index: 1;
        }
        .img2 {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            width:100%;
            height:100%;
        }
        .txt1 {
            position: absolute;
            top: 70%;
            left: 50%;
            text-transform: uppercase;
            font-size: 5vmin;
            background: linear-gradient(to right, purple, white);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            // transform: translate(-50%, -50%) rotate(20deg);
            transform: translate(-50%, -50%);
            z-index:2;
        }
        .txt2 {
            position: absolute;
            top: 90%;
            left: 50%;
            text-transform: uppercase;
            font-size: 5vmin;
            background: linear-gradient(to right, yellow, white);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            // transform: translate(-50%, -50%) rotate(20deg);
            transform: translate(-50%, -50%);
            z-index:2;
        }
    }
}

.panel2 {
    height: 100%;
    background-image: url('../image/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: purple;
    color: rgb(122, 51, 51);
    .content {
        position: relative;
        top: 20%;
        width: 60%;
        height: 30%;
        padding-top: 4%;
        margin-left: auto;
        margin-right: auto;
        background-color: purple;
        .img1 {
            position: absolute;
            top: 0;
            left: 0;
            filter: hue-rotate(180deg);
            width:100%;
            height:100%;
            z-index: 1;
        }
        .img2 {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            width:100%;
            height:100%;
        }
        .txt1 {
            position: absolute;
            top: 70%;
            left: 50%;
            text-transform: uppercase;
            font-size: 5vmin;
            background: linear-gradient(to right, purple, white);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            // transform: translate(-50%, -50%) rotate(20deg);
            transform: translate(-50%, -50%);
            z-index:2;
        }
        .txt2 {
            position: absolute;
            top: 90%;
            left: 50%;
            text-transform: uppercase;
            font-size: 5vmin;
            background: linear-gradient(to right, yellow, white);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            // transform: translate(-50%, -50%) rotate(20deg);
            transform: translate(-50%, -50%);
            z-index:2;
        }
    }
}

